.main {
  line-height: var(--header);
  display: flex;
  margin-left: -1rem;
  margin-right: -1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.main:hover {
  background-color: var(--color2);
  color: white;
}

.avatar {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  overflow: hidden;
  margin: 8px 0;
  margin-right: 4px;
}

.avatarImage {
  width: 100%;
  position: relative;
}

.avatarIcon {
  width: 12px;
  height: 12px;
  left: 20px;
  top: 2px;
  position: absolute;
}
