.main {
  display: flex;
  flex-direction: column;
  width: 704px;
  height: 396px;
  border: 2px solid white;
  position: relative;
  background: white;
}

.header {
  display: block;
  height: 140px;
  position: relative;
  overflow: hidden;
}

.background {
  width: 100%;
  transform: translate(0%, -50%);
  top: 50%;
  position: absolute;
}

.description {
  padding: 10px;
  color: black;
}
