.main {
  height: var(--header);
  line-height: var(--header);
  background-color: var(--color1);
  color: var(--light);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.left, .right {
  position: relative;
  z-index: 1;
}
.left {
  float: left;
}
.right {
  float: right;
}

.center {
  position: absolute;
  text-align: center;
  font-weight: 600;
  left: 0;
  right: 0;
  z-index: 0;
}

.link {
  color: var(--light);
  text-decoration: none;
}
.link:hover {
  color: var(--color4);
}
