.main {
  height: var(--header);
  line-height: var(--header);
  background-color: var(--color1);
  color: var(--color3);
  position: relative;
  font-weight: 600;
}

.left {
  float: left;
}
.right {
  float: right;
}
.center {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
}
