.main {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.content {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  align-content: center;
  margin-top: 10px;
}

.content::after {
  content: "";
  width: 32.5%;
}
  
.item {
  display: block;
  width: 32.5%;
  height: 7em;
  list-style-type: none;
  border-radius: 5px;
  border: 1px solid #e3eaef;
}

.item:hover {
  opacity: 0.5;
  cursor: hand;
}  
  