.main {
  margin-bottom: 10rem;
  font-weight: 400;
}
.main img {
  width: 100%;
  margin-top: 6px;
}

.title {
  text-align: left;
  font-size: 28px;
  font-weight: 400;
}

.section {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.step {
  font-size: 20px;
  margin-bottom: 8px;
  font-weight: 500;
}
.content {
  font-size: 16px;
  margin-bottom: 8px;
  font-weight: 400;
}

.link {
  text-decoration: none;
}
