/* http://colorhunt.co/c/72112 */
:root {
  --color1: #D3D6DB;
  --color2: #3A4750;
  --color3: #303841;
  --color4: #BE3144;

  --header: 46px;
  --baseline: 12px;
}

/* 1rem = 10px */
html {
  font-size: 62.5%;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  
  font-size: 1.6rem;
  margin: 0;
}
h1 {
  text-align: center;
  font-weight: 500;
  margin-top: 2rem;
}

button {
  margin-bottom: 0;
}

main {
  padding-top: var(--header);
}

section {
  margin: 6rem 0;
}
