.main {
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
}

.content::after {
  content: '';
  width: 32.5%;
}

.item {
  width: 32.5%;
  height: 210px;
  list-style-type: none;
  border-radius: 5px;
  border: 1px solid var(--color5);
}

.item:hover {
  cursor: pointer;
  border: 1px solid var(--color6);
}
