.main {
  text-align: center;
  margin: 0;
  background-color: var(--color1);
  color: var(--light);
  height: 70vh;
  position: relative;
}
.center {
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  width: 100%;
}


button.button {
  background-color: var(--color4);
  color: var(--light);
  border: var(--color4);
  padding: 6px 36px;
  height: auto;
  font-size: 1.5rem;
}
button.button:hover {
  background-color: var(--color4);
  color: var(--light);
  border: var(--color4);
}


.timerWrapper {
  margin-bottom: 1.5rem;
}
.timer {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.quote {
  margin: 1rem 0;
  margin-top: 1.5rem;
}
.quote p {
  margin-bottom: 0;
}
