.main {
  position: relative;
  text-align: center;
  margin: 0;
  background-color: var(--color1);
  color: var(--light);
  height: 85vh;
  overflow: hidden;
  margin-top: -46px;
  padding-top: 46px;
}
.center {
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  width: 100%;
}

.background {
  position: absolute;
  bottom: -180px;
  right: 0;
  width: 100%;
}
.background image {
  width: 100%;
  filter: grayscale(100%);
}

button.button {
  background-color: var(--color4);
  color: var(--light);
  border: var(--color4);
  padding: 6px 48px;
  height: auto;
  font-size: 1.5rem;
}
button.button:hover,
button.button:active,
button.button:focus {
  background-color: var(--color4);
  color: var(--light);
  border: var(--color4);
}


.timerWrapper {
  margin-bottom: 1.5rem;
}
.timer {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  font-size: 3rem;
}

.quote {
  margin: 1rem 0;
  margin-top: 1.5rem;
}
.quote p {
  margin-bottom: 0;
}
